<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ETH" value="0.054183634"/>
    <add key="WTC" value="32.56"/>
    <add key="XRP" value="250.00"/>
    <add key="XRB" value="28.93727500"/>
    <add key="WABI" value="183.00"/>
    <add key="XLM" value="452.00"/>
    <add key="CND" value="5049.00"/>
    <add key="BNB" value="0.88891165"/>
    <add key="BTC" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
